.csCard {
    border: solid 2px cyan;
    /* flex-direction: column; */
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    flex-direction: column;
    /* max-height: 40%; */
    width: 40%;
    padding: 5px;
    /* -webkit-box-orient: vertical; */
    margin: 2rem 4rem;
    border-radius: 5px;
    margin-bottom: 2em; 
  }

  .cImg {
    width: 100%;
    height: 50%;
    /* filter: grayscale(100%); */
      
  }
  .csCard img:hover {
    filter: grayscale(100%);  
  }

  .infoBar {
    border: solid 2px rosybrown;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
  }
  .csMediaBar{
    border: solid 2px rgb(23, 64, 201);
  }


  .csComments{
    border: solid 2px green;
    padding:2px 16px;
  }
