
.csCard {
    border: solid 2px rgba(115, 107, 85, 0.5);
    /* flex-direction: column; */
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    flex-direction: column;
    /* max-height: 40%; */
    width: 40%;
    padding: 5px;
    /* -webkit-box-orient: vertical; */
    margin: 2rem 4rem;
    border-radius: 5px;
    margin-bottom: 2em; 
  }

  .cardHeader{
    flex-wrap: nowrap;
    flex-direction: column;
  }
  
  .cImg {
    width: 100%;
    height: 50%;
    /* filter: grayscale(100%); */
      
  }
  .csCard img:hover {
    filter: grayscale(100%); 
    flex-direction: row; 
  }

  .infoBar {
    /* border: solid 2px rosybrown; */
    /* float: right; */
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 0; */
  }

  .mediaBar{
    border: solid 2px rgb(4, 91, 12);
  }


  .csComments{
    border: solid 2px green;
    /* padding:2px 16px; */
  }

  .comment {
    flex-wrap: wrap;
  }