.navbar{
  overflow: hidden;
  background-color:#FFFCF0;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 2rem;
  position: fixed;
  top: 0;
  width: 96%;
  height: 3rem;

}





.imgicon{
    /* opacity: 50%; */
    width: 100px;
    float: right;
    height: 100px;
    border-radius: 100px;
    /* margin-bottom: 10px; */
  
    border: solid 1px #213120;
  }

  .profileinfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* float: right; */
   
  }