.profilePage{
    display: flex;
    flex-direction: column;
}


.userProfile{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* padding-left: 5em; */
}


.userIcon img{
   width: 150px;
   height: 150px;
   margin-right: 2em;
   margin-left: 21rem;
   border-radius: 80px;
}

.userInfoProf{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8em 1em;
    padding: 3em;
    width: 100%;
    /* max-height: 450px; */
    border-bottom: solid 1px rgb(88, 88, 87);  
}

.displayProf{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    width: 109%;
}

.userFaves{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.faveShop{
    border: solid 1px rgb(133, 175, 144, 0.3);
    border-radius: 10px;
    overflow: hidden;
    margin: 2em; 
    padding: 1px;
}

.ant-card-bordered .ant-card-cover  img{
    /* margin-right: -1px;
    margin-left: -1px;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px); */
    max-height: 200px;
}



/* .faveShop img{
    height: 10em;
    width: 10em;
    border-radius: 50%;
} */



.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
    
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.ReactModal__content--after-open{
    display: flex;
    flex-direction: row;
    align-content: space-between;

}

.Modal{
    /* top: 50%;
    left: 50%; */
    /* margin: 5em; */
    padding: 2em;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    background: cornsilk;
    height: 40%;
    width: 40%;
    margin: auto;
    overflow: auto;
}

.edit-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin: 2em;
}