.profilePage{
    display: flex;
    flex-direction: column;
}


.userProfile{
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
}


.userIcon img{
   width: 150px;
   height: 150px;
   margin-right: 2em;
   border-radius: 80px;
}

.userInfoProf{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8em 1em;
    padding: 3em;
    width: 100%;
    /* max-height: 450px; */
    border-bottom: solid 1px rgb(88, 88, 87);  
}

.displayProf{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    width: 109%;
}

.userFaves{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.faveShop{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* border: solid 2px cornflowerblue; */
    background-color: rgb(236, 252, 248, 0.6);
    border: solid 1px rgb(20, 101, 63);
    padding: 1em;
    margin: 2px;
    max-width: 15rem;
    
}

.faveShop img{
    height: 10em;
    width: 10em;
    border-radius: 50%;
}



.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
    
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.ReactModal__content--after-open{
    display: flex;
    flex-direction: row;
    align-content: space-between;

}

.Modal{
    /* top: 50%;
    left: 50%; */
    /* margin: 5em; */
    padding: 2em;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    background: cornsilk;
    height: 40%;
    width: 40%;
    margin: auto;
    overflow: auto;
}

.edit-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin: 2em;
}