.shopPanel{
    border: solid 2px cornflowerblue;
    /* float: left; */
    /* margin-right: 28px; */
    width: 95%;
    /* display: flex; */
    flex-direction: row-reverse;
    margin-top:100px;
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* height: 3000px; Used to enable scrolling */
    background: linear-gradient(55deg, #b5d6ba 0%,  #cbecd0 34%,#dbf0de 51%,#f5f8f5 85%);
}

.map {
    position: relative;
    position: fixed;
    /* left: 80px; */
    /* top: -150rem; */
}