.shopPanel{
    /* border: solid 2px cornflowerblue; */
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top:100px;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    padding: 1em;
    /* overflow: hidden; */
    /* height: 3000px; Used to enable scrolling */
    /* background: linear-gradient(55deg, #e4e1d2 0%,  #e6eccb 34%,#f0f0db 51%,#f8f8f5 85%); */
}

.cardListings {
    width: 50%;
}

.map {
    overflow: hidden;
    position: fixed;
    left: 52%;
    border: solid 1px thistle;
    border-radius: 15px;
}

.beanLocation {
    width: 20px;
    height: 20px; 
    color: rgb(216, 129, 216);
    border-radius: 40px;
    transition: transform .8s; 
}


.beanLocation:hover {
    transform: scale(2.5);
    color: rgb(230, 126, 94);
    border-radius: 10px;
    
} 


