@import '~antd/dist/antd.css';

.ant-layout-header {
    background: #c6e6eb;
    display: flex;
    justify-content: space-between; 
    position: fixed;
    padding: 2px;
    width: 100%;
    z-index: 1;
}